/* common css */
*{
    padding: 0;
    margin: 0;
    outline: 0; /* ? */
    box-sizing: border-box; /* ? */
}
html{
    width: 100%;
    overflow: hidden;
    overflow-y: auto; /* ? */
}
body{
    margin: 0;
    line-height: 1.5;
}
img{
    max-width: 100%; /* ? */
}

/* this style for heaer area */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #fff;
    padding-left: 12px;
    padding-right: 16px;
}
.left_part {
    display: flex;
    align-items: center;
}
.logo{
    text-align: center;
}
.logo a{
    display:block;
    padding:8px 16px;
}
.logo a img{
    max-width: 45px;
}
.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li a {
    padding: 28px 16px;
    color: black;
    font-size: 19px;
    text-decoration: none;
    font-weight: 550;
}
.menu ul li a:hover {
    color: #fff;
    background: #00AC6D;
}
.right_part {
    display: flex;
}
.head_icon {
    display: flex;
    margin-right: 15px;
}
.head_icon ul {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.head_icon ul li a {
    display: block;
    padding: 8px 16px;
    color: black;
}
.head_icon ul li a:hover {
    color: #00AC6D;
    background: white;
}
.head_btn {
    display: flex;
    align-items: center;
}
.head_btn a {
    width: 130px;
}
.head_btn a:last-child {
    margin: 0;
}

/* this style for layout section */
section.layout{
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
}

/* this style for html section */
section.html_sec{
    color: white;
    background: #282A35; 
}
.container{
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1365px;
    align-items: center;
    justify-content: space-between;
}
.left_side {
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column; /* ? */
    justify-content: center;
}
.right_side{
    width: 50%;
    padding: 3%;
}
section.layout .left_side h2{
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
}
section.layout .left_side h4{
    font-size: 20px;
    font-weight: 400;
    margin: 32px 0;
}
section.layout .left_side a{
    width: 200px;
    margin: 0;
    margin-bottom: 20px;
}
section.layout .left_side a:last-child{
    color: black;
    background: white;
}
section.layout .right_side .sub-right_side{
    display: flex;
    flex-direction: column;
    color: black;
    background: #E7E9EB;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
    border-radius: 5px;
    align-items: flex-start;
}
section.layout .right_side .sub-right_side .right_side_head h3{
    font-size: 24px; 
    margin: 10px 0;
}
section.layout .right_side .sub-right_side .right_side_body{
    display: flex;    
    height: 185px;
    width: 100%;
    margin: 16px 0;
    border-left: 4px solid #00AC6D;
}
section.layout .right_side .sub-right_side .right_side_body .code_block{
    display: flex;
    height: 100%;    
    width: 100%; 
    background: white;
}
section.layout .right_side .sub-right_side .right_side_footer a{
    width: 200px;
}

/* this style for css section */
section.css_sec{
    color: black;
    background: #D9EEE1;
}

/* this style for JS section */
.Js_sec{
    color: black;
    background: #FFF4A3;
}

/* this style for Python section */
.PYTHON_sec{
    color: white;
    background: #282A35;
}

/* this style for SQL section */
.sql_sec{
    color: black;
    background: white;
}


/* for 2_box_layout */
/* this style for php & jquery section */
section.php_jquery{
    display: flex;
    justify-content: space-between;
    background: #282A35;
    padding-top: 70px;
}

/* this style for java & c++ section */
section.java_c{
    display: flex;
    justify-content: space-between;
    background: #282A35;
}

/* this style for We3 & Bootstrap section */
section.w3_bootstrap{
    display: flex;
    justify-content: space-between;
    background: #282A35;
   
}

/* this style for color picker section */
.color-picker {
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F3ECEA;
    padding: 78px 0 95px;
}
.color-picker h1 {
    font-size: 65px;
    font-weight: 700;
}

.color-picker h4 {
    margin-top: 25px;
    font-size: 20px;
}
.color-picker a img {
    width: 150px;
    height: 128px;
    margin-top: 16px;
}

/* this style for code game section */
.code-game {
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #96D4D4;
    padding: 80px 40px;
}
.code-game h1 {
    font-family: 'Freckle Face', cursive;
    font-size: 48px;
}

.code-game h2 {
    font-family: 'Freckle Face', cursive;
    font-size: 32px;
}
.code-game a img {
    margin: 16px 0;
}

/* this style for exercise section */
section.exercise-sec {
    background: url("assets/img/w3codes.png") no-repeat fixed center;
}

.exercise-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 80px;
    color: white;
}
.half-width-box {
    width: 50%;
    padding: 0px 8px;
}
.exercise {
    padding: 70px 50px;
    font-size: 35px;
    opacity: 0.97;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #059862;
    border-radius: 5px;
}
.exercise-container h2 {
    font-size: 45px;
    font-weight: 700;
}

.exercise-container h4 {
    font-size: 20px;
}
.exercise a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* this style for templates section */
.templates {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 64px 24px 90px 24px;
    background-color: #E7E9EB!important;
    color: black!important;
    text-align: center!important;
}

.templates h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0;
}

.templates h4 {
    font-size: 20px;
    margin: 10px 0;
}

.templates a {
    margin-left: auto;
    margin-right: auto;
}

.templates a img {
    max-width: 980px;
    margin: 16px 0 20px 0;
}

.templates a:last-child {
    width: 50%;
    background-color: #282A35;
    color: white;
    text-transform: uppercase;
}

/* this style for carrer section */
.carrer-sec {
    margin-top: 0;
    background-color: #282A35;
}
.career-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0 60px 50px 60px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFC0C7;
}
.career-container h2 {
    font-size: 62px;
    margin: 62px 0;
}

.career-container p {
    font-size: 52px;
    margin: 16px 0 52px 0;
}

.career-container a {
    width: 200px;
}

/* this style for svg */
#w3_cert_arrow {
    position: absolute;
    right: 240px;
    width: 220px;
    transform: rotate(10deg);
    bottom: 0;
    z-index: 1;
}
#w3_cert_badge {
    position: absolute;
    right: 5%;
    width: 220px;
    transform: rotate(10deg);
    bottom: -15%;
}

/* this style for how to section */
.how-to-container {
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 48px 24px 80px;
}

.how-to-container h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0;
}

.how-to-container h4 {
    display: inline;
    font-size: 20px;
    margin: 10px 0;
    background: gainsboro;
}

.how-to-container a {
    width: 50%;
    background-color: #282A35;
    color: white;
    margin: 18px 0;
    text-transform: uppercase;
}

/* this style for footer section */
footer {
    color: white;
    background: #282A35;
    padding: 32px 16px;
}
.ft-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 0;
    align-items: center;
}

.ft-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/**** re-usable css ****/
.default_btn{
    display: block;
    text-align: center;
    padding: 12px 16px;
    width: auto;
    background: #00ac6d;
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    border-radius: 25px;
    text-decoration: none;
}
.default-btn:hover {
    background-color: #059862;
    color: white;
}
.light_btn{
    background: #fff;
    color: #00ac6d;
}

.light_btn:hover {
    background-color: #04AA6D;
    color: white;
}

.main_box{
    width: 50%;
    padding: 2% 3%;
}
.left_box{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.left_box h2 {
    font-size: 45px;
    font-weight: 700;
}
.left_box h5 {
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0;
}
.left_box a{
    width: 200px;
    background-color: #282A35;
    color: white;
}

.right_box{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.right_box h2{
    font-size: 45px;
    font-weight: 700;
}
.right_box h5{
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0;
}
.right_box a{
    width: 200px;
    background-color: #282A35;
    color: white;
}
.color1{
    color: black;
    background: #FFC0C7;
}
.color2{
    color: black !important;
    background: #FFF4A3 !important;
}
.color3{
    color: black;
    background: #F3ECEA;
}
.color4{
    color: black;
    background: #D9EEE1;
}
.color5{
    color: black;
    background: #96D4D4;
}
.color6{
    color: black;
    background: #E7E9EB;
}

.four_box_layout{
    display: flex;
    justify-content: space-between;
    background: #282A35;
    flex-direction: column;
}
.ht-315 {
    height: 315px;
}
.p-t{
    padding-top: 70px;  
}
.pb-64 {
    padding-bottom: 64px;
}

.same_box{
    width: 25%;
    padding: 2% 3%;
}
.item_box a{
    text-decoration: none;
}
.item_box a h2{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    color: black;
}
.item_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 5px;
}
.two-box-layout {
    display: flex;
    justify-content: space-between;
    background: #282A35;
    flex-direction: column;
}
.half-width {
    width: 50%;
    padding: 2% 3%;
}